/* [OBJECT] button */
@import 'scss/settings/variables';

button,
.cz-button {
    @include cz-font-base;

    border-radius: 10px;
    box-sizing: border-box;
    padding: 4px;
    text-decoration: none;
    background-color: $cz-color-primary;
    border-color: transparent;

    &:hover:not(:disabled) {

    }

    &:focus:not(:disabled) {

    }

    &:active:not(:disabled) {
        
    }

    &:disabled {

    }
}
