/* [OBJECT] heading */
@import 'scss/settings/variables';

@mixin cz-heading {
    @include cz-font-family('Regular');
    color: $cz-color-primary;
}

h1,
.cz-heading-1 {
    @include cz-heading;
    font-size: 40px;
    line-height: 40px;
    margin: 10px 0 10px;
}

h2,
.cz-heading-2 {
    @include cz-heading;
    font-size: 30px;
    line-height: 30px;
    margin: 10px 0 10px;
}

h3,
.cz-heading-3 {
    @include cz-heading;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 10px;
}

h4,
.cz-heading-4 {
    @include cz-heading;
    @include cz-font-base;

    line-height: 10px;
    margin: 10px 0 10px;
}
