.cz-body-container {
    position: relative;
    min-height: 100%;
    background-color: #fff;
    transition: transform 500ms;
    z-index: -1;
}

.cz-body-container--skewed {
    transform: translate(100px, 50px) skew(0deg, -4deg) scale(0.9);
}

.cz-body-container__loader-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 40px;
    opacity: .9;
    z-index: 999;

    &:after {
        content: 'Loading bitches...';
        display: block;
        position: relative;
        top: 300px;
    }
}

.cz-body-container__loader-overlay--active {
    display: block;
}
