@import "../settings/variables";

.cz-footer {
    height: 630px;
}

.cz-footer__blocks {
    background-color: $cz-fill-grey-dark;

    // TODO: Decide on a proper breakpoint, 520 is too small
    @media screen and (min-width: 900px) {
        height: 465px;
    }
}

.cz-footer__block {
    position: relative; // Hack for weird color issue
    pointer-events: none; // Pass click through to triangles

    @media screen and (min-width: $cz-breakpoint-desktop) {
        &:nth-of-type(1) {
            background-color: rgba(26, 33, 26, .5);
        }

        &:nth-of-type(2) {
            background-color: rgba(0, 0, 0, .25);
        }
    }

    // TODO: Decide on a proper breakpoint, 520 is too small
    @media screen and (min-width: 900px) {
        float: left;
        width: 50%;
        height: 465px;
    }
}

.cz-footer__triangles {
    position: absolute;
}

.cz-footer__block-container {
    padding: 30px;

    @media screen and (min-width: $cz-breakpoint-desktop) {
        padding: 64px 128px;
    }
}

.cz-footer__cta {
    clear: both;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 44px;
    padding: 0 20px;

    background-color: $cz-color-primary;

    @media screen and (min-width: $cz-breakpoint-desktop) {
        height: 165px;
        background: $cz-color-primary url("images/footer-logo.svg") center no-repeat;
    }
}

.cz-footer__cta-link {
    display: block;
    position: relative;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;

    margin: 50px 0 100px 0;

    @media screen and (min-width: $cz-breakpoint-desktop) {
        display: inline;
        margin-bottom: 0;
    }

    &:after {
        background-image: url("images/arrow-c2a.svg");
        content: ' ';
        position: absolute;
        bottom: -50px;
        right: 50%;
        margin-right: -34px;
        width: 68px;
        height: 35px;

        @media screen and (min-width: $cz-breakpoint-desktop) {
            right: -90px;
            margin-right: 0;
            top: 0;
            width: 68px;
            height: 35px;

        }
    }
}
