@import '../settings/variables';

.cz-section,
.cz-section-inverse {
    padding-top: $cz-inner-spacing;
    padding-bottom: $cz-inner-spacing;
}

.cz-section {
    background: $cz-fill-light;
}

.cz-section-inverse {
    background: $cz-fill-grey-dark;
}
