.shaker{
  animation: shakeIt cubic-bezier(.36,.07,.19,.97) .25s infinite;
  transform: translate3d(0, 0, 0);
}


@keyframes shakeIt {

  0%, 100% {
    transform: translate3d(0px, 0px, 0px);
  }
  25% {
    transform: translate3d(10px, 5px, 20px);
  }
  50% {
    transform: translate3d(30px, 20px, 60px);
  }
}
