@import '../settings/variables';

.cz-text {
    @include cz-font-family('Regular', 'Radikal');
    color: $cz-text;
}

.cz-text-inverse{
    @include cz-font-family('Regular', 'Radikal');

    &, a, a:hover {
        color: $cz-text-inverse;
    }
}

.cz-text-link-inverse {
    @include cz-font-family('Regular', 'Radikal');

    &, a, a:hover {
        color: $cz-text-inverse;
    }
}

