<header class="cz-header">
    <div class="cz-triangles-static cz-header__background"></div>
    <ul cz-carousel class="cz-carousel cz-list-reset">
        <li class="cz-carousel--item">
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('/images/header-image-home-1.jpg')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">Wij zijn CODEZILLA</h1>
                <p class="cz-carousel__slogan">
                    Monsterlijk Goed <br />
                    in Front End Development
                </p>
            </div>
        </li>
        <!-- <li class="cz-carousel--item">
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('/images/header-image-home-2.jpg')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">A bad website is like a flat tire</h1>
                <p class="cz-carousel__slogan">
                    You can't go anywhere <br/> until you change it
                </p>
            </div>
        </li> -->
        <li class="cz-carousel--item">
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('/images/header-image-home-3.jpg')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">Quality is king</h1>
                <p class="cz-carousel__slogan">
                    Websites en web apps moeten er goed uitzien<br/> van binnen, en van buiten
                </p>
            </div>
        </li>
    </ul>
</header>
