<header class="cz-header">
    <div class="cz-triangles-static cz-header__background"></div>
    <ul cz-carousel class="cz-carousel cz-list-reset">
        <li>
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('http://lorempixel.com/1200/1920/technics/')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">Front end coding</h1>
                <p class="cz-carousel__slogan">
                    [ 'Interactieve', <br />
                    'Gebruiksvriendelijke', <br />
                    'Webapplicaties' ]
                </p>
            </div>
        </li>
        <li>
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('http://lorempixel.com/1200/1920/technics/2')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">A bad website is like a flat tire</h1>
                <p class="cz-carousel__slogan">
                    You can't go anywhere until you change it
                </p>
            </div>
        </li>
        <li>
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('http://lorempixel.com/1200/1920/technics/3')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">We make the web great again</h1>
                <p class="cz-carousel__slogan">
                    Websites should look good from the inside and out
                </p>
            </div>
        </li>
        <li>
            <div class="cz-carousel__image cz-image-focus-right" style="background-image:url('http://lorempixel.com/1200/1920/technics/4')"></div>
            <div class="cz-carousel__content">
                <h1 class="cz-carousel__title">Data is real, news is fake</h1>
                <p class="cz-carousel__slogan">
                    The Netherlands doesn't exist <br />
                    My hair is awesome
                </p>
            </div>
        </li>
    </ul>
</header>
