<footer class="cz-footer">

    <section class="cz-section-inverse">
        <div class="container">
            <h2 class="heading-inverse">Koffie of lunch?</h2>
            <p class="cz-text-inverse">Klinkt wat we doen en hoe we werken aantrekkelijk en interessant? Voor een kop koffie of lunch maken we altijd tijd.</p>

            <p class="cz-text-inverse">** Bel of mail ons **<br>
                <a href="tel:+31 (0) 20 3120 458">020 - 3120 458</a> of <a href="mailto:info@codezilla.nl">info@codezilla.nl</a>
            </p>
        </div>
    </section>

    <section class="cz-section-inverse">
        <div class="container">
            <h2 class="heading-inverse">CODEZILLA B.V.</h2>
            <p class="cz-text-inverse">
                Hoogoorddreef 9<br />
                1101 BA AMSTERDAM (Nabij de Arena)<br />
                KVK nr. 62653229
            </p>
            <p class="cz-text-inverse">
                Tel: <a href="tel:+31 (0) 20 3120 458">020 - 3120 458</a><br />
                Email: <a href="mailto:info@codezilla.nl">info@codezilla.nl</a>
            </p>
        </div>
    </section>

    <div class="cz-footer__cta">
        <div><a href="{{ nextPage.url }}" class="cz-footer__cta-link">Bekijk {{ nextPage.title }}</a></div>
    </div>
</footer>
