<section>
    <!--<h2>What is the konami code?</h2>-->
    <p>&#8679; &#8679; &#8681; &#8681; &#8678; &#8680; &#8678; &#8680; <span>B</span> <span>A</span></p>
    <!--<div data-js="level" class="grid">-->
        <!--<img data-js="snake" class="-hidden snake" src="/images/team/rory-monster.svg" alt="Rory's avatar">-->
    <!--</div>-->

    <div data-js="grid" class="grid">
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
        <div class="grid__block" data-js="grid__block"></div>
    </div>



    <div class="todo">
        <ul>
            <li>Fix konami code handling/reset</li>
            <li>Collision with field</li>
            <li>Collision with 'food'</li>
            <li>Collision with snake</li>
            <li>Score system</li>
            <li>Update snake on food grab</li>
            <li>Start / quit game</li>
            <li>Draw player, field, food SVG using canvas</li>
        </ul>
    </div>
    

    <!--<canvas class="game-field">-->
    <!--</canvas>-->
</section>
