<div class="cz-split-panels">
    <div class="cz-section">
        <div class="cz-diamond-grid">
            <div class="cz-diamond-grid__inner">
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond="">
                        <div class="monster-img monster-img--has-shadow">
                            <img style="transform: translate(10px, 10px) scaleX(-1)" src="/images/monsters/remymonster.svg" width="200px" height="200px" style="transform: scaleX(-1)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div cz-diamond-split-panel class="cz-split-panels cz-split-panels--overlay" style="display: none">
        <h2 class="cz-heading-1 cz-split-panels__title">Huib</h2>
        <div class="cz-split-panels__wrapper">
            <div class="cz-split-panels__panel cz-split-panels__panel--left">
                <div class="cz-split-panels__panel-content cz-split-panels__panel-content--pad-top">
                    <div class="cz-team-detail">
                        <span class="cz-team-detail__quote">Hmm, that framework sounds delicious</span>
                        <h3 class="cz-heading-2">Likes</h3>
                        <p>Devouring websites and travel</p>
                        <h3 class="cz-heading-2">Huib schrijft monsterlijk goede code voor...</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum consectetur eros, a molestie elit maximus sed. Ut vitae sapien justo. Suspendisse ultricies semper risus vel consequat.</p>
                    </div>
                </div>
            </div>
            <div class="cz-split-panels__panel cz-split-panels__panel--right">
                <div class="cz-split-panels__panel-bg" cz-panel-from-diamond=""></div>
                <div class="cz-split-panels__panel-content cz-split-panels__panel-content--full-height">
                    <div class="cz-team-carousel">
                        <div class="cz-team-carousel__content">
                            <div class="cz-team-carousel__img-wrapper">
                                <div class="monster-img monster-img--has-shadow">
                                    <img style="transform: translate(10px, 10px) scaleX(-1)" src="/images/monsters/remymonster.svg" width="200px" height="200px" style="transform: scaleX(-1)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


