<div class="cz-split-panels">
    <div class="cz-section">
        <div class="cz-diamond-grid">
            <div class="cz-diamond-grid__inner">
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
                <div class="cz-diamond-grid__block">
                    <div class="cz-diamond" cz-diamond=""></div>
                </div>
            </div>
        </div>
    </div>
    <div cz-diamond-split-panel class="cz-split-panels cz-split-panels--overlay" style="display: none">
        <h1 class="cz-split-panels__title">Huib</h1>
        <div class="cz-split-panels__wrapper">
            <div class="cz-split-panels__panel cz-split-panels__panel--left">
                <div class="cz-split-panels__panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum consectetur eros, a molestie elit maximus sed. Ut vitae sapien justo. Suspendisse ultricies semper risus vel consequat.</p>
                </div>
            </div>
            <div class="cz-split-panels__panel cz-split-panels__panel--right">
                <div class="cz-split-panels__panel-bg" cz-panel-from-diamond></div>
                <div class="cz-split-panels__panel-content">
                    <div>Monster</div>
                </div>
            </div>
        </div>
    </div>
</div>


