@import 'scss/tools/mixins';

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Arial, Sans-serif;
    -webkit-font-smoothing: antialiased;

    @include cz-font-family('Light', 'Radikal');
    @include cz-font-base;

    background-color: #242f34;
}

p {
    margin: $cz-inner-spacing 0;
}
